body{
  background-color: rgb(40, 171, 171);
  color: rgb(40, 171, 171);
  font-weight: 400;
  margin: auto;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  

}

.title{
  text-align: center;
  padding-top: 50px;
}

#quote-box{
background-color: #fff;
padding: 70px 40px;
line-height: 30px;

}

#quote-text {
text-align: center;
font-weight: 400px;
font-size: 30px;
width: 500px;
line-height: 2.5rem;
}

#quote-text i{
margin-right: 5px;
}

#author{
font-size: 15px;
}


.quote-author{
text-align: end;
padding-top: 20px;

}

#quote{
font-size: 30px;
}

#footer{
display: flex;
justify-content:space-between;
padding-top: 20px;
}

#tweet-quote, #tumbler-quote, #new-quote{
border-radius: 3px;
background-color: rgb(40, 171, 171);
color: #fff;
}

#tweet-quote, #tumbler-quote{
padding: 5px 10px;
margin: auto 2px;

}

#new-quote{
border:none;
font-weight: bold;
padding: 2px 4px;
}

